h1 {
  font-family: 'Typographica';
  color: #eb6654;
  font-size: 3em;
  text-transform: capitalize;
  font-size:5em;
}

h1 span {
    color: #303030;
    text-transform: lowercase;
}

h3 {
    font-family: 'Typographica';
    color: #863b31;
    padding: 5px 30px;
    border-radius: 20px;
    display: inline-block;
}

h3::before, h3::after {
    content: '..';
    font-size: 3em;
    color: #eb6654;
}

.btn-action {
    top: 70%;
    left: 80%;
    position: fixed;
    color: #fff;
    background-color: #eb6654;
    padding-top: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 5px 1px rgba(71, 49, 1, 0.3);
}

.btn-action .material-icons {
    font-size: 2.5em;
}

.btn-active {
    color: #fff;
    background-color: #eb6654;
    border-radius: 10px;
}

.btn-loading .material-icons {
    animation: rotate 1.5s linear infinite;
}

.btn-nav {
    width: 150px;
    color: #4b4b4b;
}

.btn-main {
  width: 130px;
  border-radius: 10px;
  color: #fff;
  background-color: #eb6654;
  padding-top: 10px;
  padding-bottom: 10px;
}


.btn-outline-dark.btn-main {
    color: #eb6654;
    border-color: #eb6654;
    background-color: #fff;
}

.btn-outline-dark.btn-main:hover, .btn-outline-dark.btn-main:focus {
    color: #fff;
    background-color: #eb6654;
    border-color: #eb6654;
}

.btn-icon:hover {
    cursor: pointer;
}

.card-list {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-main {
    height: 230px;
    box-shadow: 1px 1px 5px 1px rgb(235, 102, 84, 0.3);
    border: 0px;
    border-radius: 10px;
}

.card-main .card-title::before {
    content: '.';
    width: 40px;
    height: 30px;
    display: inline-block;
    position: relative;
    background-color: #eb6654;
    z-index: 2;
    right: 30px;
    bottom: 18px;
    border-radius: 10px 0px 10px 0px;
}

.card-main:hover, .card-main:focus {
    cursor: pointer;
    box-shadow: 5px 5px 10px 5px rgb(235, 102, 84, 0.3);
}

.card-main .card-title {
    color: #eb6654;
}

.input-main {
    border-radius: 10px !important;
    padding-left: 20px;
    border-width: 2px;
}

.list-group-main {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ebe9e9;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.list-group-main .list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

.list-group-item.ingredient {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: #f5f5f5;
}

.list-group-item.ingredient .material-icons {
    color: #eb6654;
}

.list-group-item.ingredient:hover,.list-group-item.ingredient:focus {
    color: #fff;
    background-color: #eb6654;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.list-group-item.ingredient:hover .material-icons {
    color: #fff;
}

.logo {
    font-family: 'Typographica';
    color: #eb6654;
    border-radius: 30px;
}

.logo span {
    color: #eb6654;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.navbar-main {
    box-shadow: 0px 3px 8px rgba(1, 95, 107, 0.3);
}

.nav-bottom {
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(1, 95, 107, 0.3);
}

.nav-menu {
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 20px;
}

.notification {
  position: fixed;
  z-index: -1;
  top: 80px;
  left: auto;
  right: auto;
  min-width: 280px;
  margin-left: 10px;
}

.notification .alert {
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.notification.show {
    z-index: 50;
    animation: fadeInLeft 1s 1;
}

.place-holder {
    background-color: transparent !important;
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, #f7dedb 50%, rgba(0, 0, 0, 0) 80%);
    animation: placeHolder 1s 0s linear infinite;
}

.ProseMirror {
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 50px;
    color: #303030;
}

.validation {
    margin-top: 10px;
}

#recipeSearch {
    border-width: 0px;
    border-radius: 30px !important;
    box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.3);
}

.search {
    font-size: 25pt;
    color: #eb6654;
    margin-top: 0px;
}


.search.btn-group .dropdown-menu {
  width: 98%;
}

.search-input {
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-input:focus {
    outline: none;
}

.validation .danger {
    color: #af2d2d;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.validation .success {
    color: #39ac72;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}

.validation .success span {
    color: #fff;
    background-color: #39ac72;
    padding: 5px 7px;
    border-radius: 15px;
}

.views {
  color: #863b31;
  width: 100px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

@font-face {
    font-family: 'Typographica';
    src: url('../fonts/Typographica-Blp5.ttf');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.ttf');
}

@keyframes fadeInLeft {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes placeHolder {
    0%, 10%{background-size: 100vh 10vw;}
    90%, 100%{background-position:100vh 100vw;}
}

@media (max-width: 768px) {
    .btn-action {
        left: 70%;
    }

    .btn-main {
        width: 100px;
    }
    
}