html, body, #app {
  width: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #1e3142;
  background-image: url('../img/bg.png');
  background-size: cover;
  background-attachment: fixed;
}

section {
  min-height: 45em;
  padding-top: 3em;
  padding-bottom: 3em;
}

section .form-control {
  height: 50px;
}


.bg-light {
  background-color: #fffefb !important;
}

.bg-white {
  background-color: #fff;
}

.hero {
  background: -webkit-linear-gradient(180deg, #eb6654 30%, rgba(0, 0, 0, 0) 30%);
}

.hero .selling {
  display: inline-block;
  padding: 3px 10px;
  color: #fff;
  background-color: #303030;
  border-radius: 5px;
  min-width: 30px;
}

.hero .selling span {
  color: #eb6654;
}

.img-plate {
  position: absolute;
  z-index: 4;
  top: 250px;
  right: 15%;
  background-image: url('../img/plate.webp');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

@media (max-width: 768px) {

  .hero {
    background: none;
  }

  .img-plate {
    top: 250px;
    right: 15%;
  }
}