<template>
  <div class="row-fluid">
    <section class="row hero justify-content-center">
      <div class="col-lg-8 text-center mt-5">
        <h1 class="mt-5">Prep <span>N</span> Dish</h1>
        <p class="selling">quick easy simple ideas for <span>delicouse meals</span></p>
      </div>
      <recipe-search class="col-lg-8 col-11" />
      <div class="img-plate"/>
    </section>
    <section class="row justify-content-center bg-light">
      <center>
        <h3>Favourites</h3>
      </center>
      <recipe-card-list
        class="col-lg-8 col-md-10 col-11"
        :recipes="favouriteRecipes"
        @click="setRecipe"/>
    </section>
    <section class="row justify-content-center bg-light">
      <center>
        <h3>New Taste</h3>
      </center>
      <recipe-card-list
        class="col-lg-8 col-md-10 col-11"
        :recipes="newRecipes"
        @click="setRecipe"/>
    </section>
    <section class="row justify-content-center bg-dark">
      <div class="col-lg-8">
        <button class="btn btn-outline-dark btn-main ms-3" @click="gotoLoginView"> login </button>
      </div>
    </section>
  </div>
</template>

<script>
import RecipeCardList from '../components/RecipeCardList'
import RecipeSearch from '../components/RecipeSearch'
export default {
  name: 'Home',
  components: {
    RecipeCardList,
    RecipeSearch
  },
  data () {
    return {
      recipe: null
    }
  },
  methods: {
    setRecipe: function (recipe) {
      this.$root.recipe = recipe
      this.gotoRecipeView(recipe.name)
    }
  },
  computed: {
    newRecipes: function () {
      const list = this.recipes.slice()
      list.sort((a, b) => new Date(b.datecreated) - new Date(a.datecreated))
      const lastIndex = (list.length > 6) ? 6 : list.length
      return list.splice(0, lastIndex)
    },
    favouriteRecipes: function () {
      const list = this.recipes.slice()
      list.sort((a, b) => b.views - a.views)
      const lastIndex = (list.length > 6) ? 6 : list.length
      return list.splice(0, lastIndex)
    },
    recipes: function () {
      return this.$root.recipes
    }
  },
  mounted () {
    this.recipeList()
  }
}
</script>
