<template>
  <section>
      <div class="row justify-content-center">
          <div class="col-lg-5 card mt-5 p-5">
              <div class="form-group mt-5">
                  <label class="ms-3">Username</label>
                  <input type="text" class="form-control input-main mt-3" placeholder="Username" v-model="username" />
              </div>
              <div class="form-group mt-4">
                  <label class="ms-3">Password</label>
                  <input type="password" class="form-control input-main mt-3" placeholder="Password" v-model="password" />
              </div>
              <div class="form-group mt-5">
                <button-loading class="btn btn-main" text="login" :loading="loading" @click="login"/>
              </div>
          </div>
      </div>
  </section>
</template>

<script>
import ButtonLoading from '../components/ButtonLoading.vue'
export default {
  components: { ButtonLoading },
  name: 'Login',
  data () {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    login: function () {
      this.userLogin(this.username, this.password)
    }
  },
  computed: {
    loading: function () {
      return this.$root.loading
    }
  }
}
</script>
