<template>
  <div class="recipe row justify-content-center mb-5">
    <div class="row col-lg-10 col-11 card mt-5">
      <center>
        <h3 class="mt-3">{{ recipe.name }}</h3>
      </center>
      <ingredient-list
        class="col-12"
        :ingredients="ingredients" />
      <div class="mt-4 mb-5" v-html="instructions"></div>
    </div>
  </div>
</template>
<script>
import IngredientList from '../components/IngredientList.vue'

export default {
  name: 'Recipies',
  components: {
    IngredientList
  },
  data () {
    return {}
  },
  methods: {
    initialize: function () {
      if (this.recipe === null) {
        this.gotoHomeView()
      } else {
        this.recipeUpdateViews(this.recipe)
        this.ingrediantGetByRecipe(this.recipe.id)
      }
    },
    incrementViews: function () {
      const currentRecipe = Object.assign({}, this.recipe)
      currentRecipe.views = currentRecipe.views + 1
      this.recipeUpdate(currentRecipe)
    }
  },
  computed: {
    instructions: function () {
      if (this.$root.ingredients.instructions === undefined) {
        return ''
      } else {
        return this.$root.ingredients.instructions
      }
    },
    ingredients: function () {
      if (this.$root.ingredients.items === undefined) {
        return []
      } else {
        return this.$root.ingredients.items
      }
    },
    recipe: function () {
      return this.$root.recipe
    }
  },
  mounted () {
    this.initialize()
  }
}
</script>
