<template>
  <button class="btn-loading">
      <span class="material-icons" v-if="loading">autorenew</span>
      <span v-else>{{ text }}</span>
  </button>
</template>

<script>
export default {
  name: 'ButtonLoading',
  props: {
    text: {
      type: String,
      required: true
    },
    loading: {
      type: Boolean,
      required: true
    }
  },
  watch: {
    loading: function () {
      console.log(this.loading)
    }
  }
}
</script>
