<template>
  <div>
    <ul class="list-group list-group-main bg-white p-5">
      <li
        class="list-group-item"
        v-for="(instruction, index) in instructions"
        @touchstart="startCount"
        @mousedown="startCount"
        @touchend="getInstruction(instruction)"
        @mouseup="getInstruction(instruction)"
        :key="index">
        {{ instruction }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'InstructionList',
  props: {
    instructions: {
      required: true
    }
  },
  methods: {
    startCount: function (event) {
      this.$root.startCount(event)
    },
    getInstruction: function (instruction) {
      if (!this.$root.isClickAndHold()) {
        this.$emit('click', instruction)
      } else {
        this.$emit('showoptions', instruction)
      }
    }
  }
}
</script>
