<template>
  <div>
    <ul class="list-group">
      <li
        class="list-group-item ingredient"
        v-for="(ingredient, index) in ingredients" :key="index"
        @touchstart="startCount"
        @mousedown="startCount"
        @touchend="getIngrediant(ingredient)"
        @mouseup="getIngrediant(ingredient)">
        <div class="col-12 btn-group">
          <span class="material-icons me-3">
            kitchen
          </span>
          <span>{{ ingredient }}</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'IngrdientList',
  props: {
    ingredients: {
      required: true
    }
  },
  methods: {
    startCount: function (event) {
      this.$root.startCount(event)
    },
    getIngrediant: function (ingredient) {
      if (!this.$root.isClickAndHold()) {
        this.$emit('click', ingredient)
      } else {
        this.$emit('showoptions', ingredient)
      }
    }
  }
}
</script>
