<template>
  <div class="form">
    <div class="form-group">
        <label>Name</label>
        <input type="text" placeholder="Sugar" class="form-control" v-model="ingridient" />
        <validation-notification :error="error.value" v-if="isUserBusy"/>
    </div>
    <div>
        <input type="button" class="btn btn-main" value="save" @click="save(ingridient)"/>
    </div>
  </div>
</template>

<script>
import ValidationNotification from './ValidationNotification.vue'

export default {
  components: { ValidationNotification },
  emits: ['save'],
  name: 'IngridientForm',
  props: {
    editItem: {
      require: false,
      default: ''
    }
  },
  data () {
    return {
      ingridient: '',
      error: {
        value: ''
      }
    }
  },
  methods: {
    save: function (ingridient) {
      const validationResult = this.validateIngredient(ingridient)

      if (validationResult.length <= 0) {
        this.$emit('save', {
          oldValue: this.editItem,
          newValue: ingridient 
        })

        this.error.value = ''
        this.resetIngredient()
      } else {
        this.error.value = validationResult.message
      }
    },
    resetIngredient: function () {
      this.ingridient = ''
    }
  },
  computed: {
    isUserBusy: function () {
      return this.ingridient !== ''
    },
    isEditMode: function () {
      return this.editItem !== ''
    }
  },
  watch: {
    ingridient: function () {
      const validationResult = this.validateIngredient(this.ingridient)
      const self = this

      if (validationResult.length > 0) {
        validationResult.forEach(function (result) {
          self.error[result.key] = result.message
        })
      }
    },
    editItem: function () {
      if (this.editItem !== '') {
        this.ingridient = ('' + this.editItem).slice(0, this.editItem.length)
      }
    }
  }
}
</script>
