<template>
  <div class="row fixed-bottom justify-content-center p-3 mt-5">
      <div class="col-lg-8 col-11 nav-menu text-center">
        <button id="main-menu"
          class="btn btn-default me-2"
          @click="gotoPrevious"
          v-if="enableBack">
          <span class="material-icons">
            arrow_back_ios
          </span>
        </button>
        <button class="btn btn-main me-2" @click="save" v-if="enableSave">
          save
        </button>
        <button id="main-menu col" class="btn btn-default" @click="userLogout">
          <span class="material-icons">logout</span>
        </button>
      </div>
  </div>
</template>

<script>
export default {
  name: 'MenuBottom',
  emits: ['save'],
  props: {
    enableSave: {
      type: Boolean,
      required: false,
      default: false
    },
    enableBack: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    save: function () {
      this.$emit('save', {})
    }
  }
}
</script>

<style>

</style>