<template>
  <div>
    <ul class="list-group bg-white" v-if="hasRecipes">
        <li class="list-group-item ingredient"
          v-for="(recipe, index) in recipes"
          :key="index"
          @touchstart="startCount"
          @mousedown="startCount"
          @touchend="getRecipe(recipe)"
          @mouseup="getRecipe(recipe)">
          <span class="material-icons me-3">lunch_dining</span>
          <span>{{ recipe.name }}</span>
        </li>
    </ul>
    <ul class="list-group bg-white" v-else>
      <div class="col-12 btn-group place-holder" v-for="index in 3" :key="index">
        
      </div>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'RecipeList',
  emits: ['click', 'showoptions'],
  data () {
    return {
      search: '',
      currentPage: 1,
      pageSize: 10,
      holdtime: 0,
      isOptionMode: false
    }
  },
  methods: {
    startCount: function (event) {
      this.$root.startCount(event)
    },
    getRecipe: function (recipe) {
      if (!this.$root.isClickAndHold()) {
        this.$emit('click', recipe)
      } else {
        this.$emit('showoptions', recipe)
      }
    }
  },
  computed: {
    hasRecipes: function () {
      if (Array.isArray(this.recipes)) {
        return this.recipes.length > 0
      } else {
        return false
      }
    },
    recipes: function () {
      return this.$root.recipes
    }
  }
}
</script>
