<template>
  <section>
      <modal :modal-id="recipeFormId" modal-title="Recipe Form">
        <recipe-form
          :edit-item="currentRecipe"
          :success="success"
          @create="createRecipe"
          @update="updateRecipe"
        />
      </modal>
      <button id="recipeOptionBtn" data-bs-toggle="modal" data-bs-target="#recipeOptions" hidden>new </button>
      <modal modal-id="recipeOptions" :modal-title="recipeName">
        <div class="col">
          <button class="btn btn-outline-dark btn-main"
            data-bs-dismiss="modal"
            data-bs-toggle="modal"
            :data-bs-target="recipeFormSelector">
             update
          </button>
          <button class="btn btn-main ms-5"
            data-bs-dismiss="modal"
            data-bs-toggle="modal"
            data-bs-target="recipeOptions"
            @click="deleteRecipe">
            delete
          </button>
        </div>
      </modal>
      <div class="col-12 mt-5">
        <div class="row justify-content-center mt-5">
          <recipe-list
            class="card card-list col-lg-8 col-11 pt-5"
            :recipes="recipes"
            @click="gotoIngridiants"
            @showoptions="showOptions"/>
        </div>
        <button
          class="btn btn-action mb-5"
          data-bs-toggle="modal"
          :data-bs-target="recipeFormSelector">
              <span class="material-icons">add</span>
          </button>
      </div>
      <menu-bottom />
  </section>
</template>

<script>
import RecipeForm from '../../components/RecipeForm.vue'
import RecipeList from '../../components/RecipeList.vue'
import Modal from '../../components/Modal'
import MenuBottom from '../../components/MenuBottom.vue'

export default {
  components: {
    RecipeList,
    RecipeForm,
    Modal,
    MenuBottom
  },
  name: 'RecipeAdmin',
  data () {
    return {
      recipeFormId: 'recipeForm',
      currentRecipe: null
    }
  },
  methods: {
    createRecipe: function (recipe) {
      this.recipeCreate(recipe)
    },
    updateRecipe: function (recipe) {
      this.recipeUpdate(recipe)
      this.currentRecipe = null
    },
    deleteRecipe: function () {
      const recipe = Object.assign({}, this.currentRecipe)
      this.ingrediantDeleteByRecipe(recipe.id)
      this.recipeDelete(recipe)
      this.currentRecipe = null
    },
    showOptions: function (recipe) {
      this.currentRecipe = recipe
      document.getElementById('recipeOptionBtn').click()
    },
    gotoIngridiants: function (recipe) {
      this.$root.recipe = recipe
      this.gotoIngredientAdminView()
    }
  },
  computed: {
    recipeFormSelector: function () {
      return '#'.concat(this.recipeFormId)
    },
    recipeName: function () {
      return (this.recipe !== null) ? this.recipe.name : ''
    },
    recipe: function () {
      return this.$root.recipe
    },
    recipes: function () {
      return this.$root.recipes
    },
    success: function () {
      return this.$root.success
    }
  },
  watch: {
    success: function () {
      if (this.success !== '') {
        this.recipeList()
      }
    }
  },
  mounted () {
    this.recipeList()
  }

}
</script>
