<template>
  <div id="app" class="container-fluid p-0">
    <notification :error="error" :success="success" />
    <router-view/>
  </div>
</template>
<script>
import NavBar from './components/NavBar'
import Notification from './components/Notification.vue'

export default {
  name: 'App',
  components: {
    NavBar,
    Notification
  },
  data () {
    return {
      recipe: null,
      recipes: [],
      ingredients: {},
      user: null,
      error: '',
      success: '',
      holdtime: '',
      loading: false
    }
  },
  methods: {
    logout: function () {
      this.user = null
      this.gotoHomeView()
    },
    startCount: function (event) {
      event.preventDefault()
      this.holdtime = new Date()
    },
    isClickAndHold: function () {
      this.holdtime = Math.abs(new Date() - this.holdtime)
      return this.holdtime > 400
    },
    getList: function (name) {
      const list = this.lists[name]
      if (list === undefined) {
        return []
      } else {
        return list
      }
    },
    getItem: function (name) {
      const item = this.items[name]
      if (item === undefined) {
        console.error(`item ${name} not found`)
      }
      return item
    },
    setList: function (name, items) {
      this.lists[name] = []
      items.forEach((item) => this.lists[name].push(item))
    },
    setItem: function ({ name, item }) {
      this.items[name] = item
      console.log(this.items)
    },
    toggleLoding: function () {
      this.loading = !this.loading
    }
  },
  watch: {
    user: function () {
      if (this.user !== null) {
        this.gotoRecipeAdminView()
      }
    }
  }
}
</script>
